<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <title>ChariTeam - Free Nonprofit Website Template</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicon, Fonts , Stylesheet -->
  <div th:replace="fragments/common :: css"></div>
  <link href="dashboard.css" th:href="@{css/dashboard.css}" rel="stylesheet">
</head>


<body>
  <!-- Spinner Start -->
  <div id="spinner"
    class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-grow text-primary" role="status"></div>
  </div>
  <!-- Spinner End -->


  <!-- Navbar Start -->
  <div class="container-fluid fixed-top px-0 wow fadeIn" data-wow-delay="0.1s" th:replace="fragments/common :: navbar">
  </div>
  <!-- Navbar End -->


  <!-- Page Header Start -->
  <div class="container-fluid page-header mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center">
      <h1 class="display-4 text-white animated slideInDown mb-4">About Animal</h1>
      <nav aria-label="breadcrumb animated slideInDown">
        <ol class="breadcrumb justify-content-center mb-0">
          <li class="breadcrumb-item"><a class="text-white" th:href="@{/}">Home</a></li>
          <li class="breadcrumb-item"><a class="text-white" th:href="@{/boardList}">DashBoard</a></li>
          <li class="breadcrumb-item text-primary active" aria-current="page">About Animal</li>
        </ol>
      </nav>
    </div>
  </div>
  <!-- Page Header End -->

  <div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
      <div class="col-md-3 border-right">
        <div class="d-flex flex-column align-items-center text-center p-3 py-5">
          <div class="animal-img">
            <img width="150px" th:src="${board.image}" />
          </div>
          <span class="font-weight-bold" th:text="${board.kind}"></span>
        </div>
      </div>

      <table>
        <caption></caption>
        <colgroup>
          <col width="120" />
          <col width="*" />
          <col width="120" />
          <col width="*" />
        </colgroup>
        <div th:object="${board}">
          <form action="#" th:action="@{/editDetail}" method="POST">
            <tr>
              <th for="desertionNo">DesertionNo</th>
              <td><input type="text" id="desertionNo" th:field="*{desertionNo}"
                  th:classappend="${#fields.hasErrors('desertionNo')} ? 'is-invalid'">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('desertionNo')}" th:errors="*{desertionNo}">
                  Please fill in this field </div>
              </td>
            </tr>
            <tr>
              <!-- colspan="3" -->
              <th for="noticeNo">NoticeNo</th>
              <td><input type="text" id="noticeNo" th:field="*{noticeNo}"
                  th:classappend="${#fields.hasErrors('noticeNo')} ? 'is-invalid'">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('noticeNo')}" th:errors="*{noticeNo}">
                  Please fill in this field </div>
              </td>

              <th>Image</th>
              <td> <input type="text" id="image" th:field="*{image}"></td>
            </tr>
            <tr>
              <th for="color">Color</th>
              <td> <input type="text" id="color" th:field="*{color}"
                  th:classappend="${#fields.hasErrors('color')} ? 'is-invalid'">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('color')}" th:errors="*{color}">
                  Please fill in this field </div>
              </td>

              <th for="kind">Kind</th>
              <td> <input type="text" id="kind" th:field="*{kind}"
                  th:classappend="${#fields.hasErrors('kind')} ? 'is-invalid'">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('kind')}" th:errors="*{kind}">
                  Please fill in this field </div>
              </td>
            </tr>
            <tr>
              <th for="sex">Gender</th>
              <td><input type="text" id="gender" th:field="*{sex}"
                  th:classappend="${#fields.hasErrors('sex')} ? 'is-invalid'">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('sex')}" th:errors="*{sex}">
                  Please fill in this field </div>
              </td>
              <th for="neuterYn">Neuter(Y/N)</th>
              <td><input type="text" id="neuterYn" th:field="*{neuterYn}"
                  th:classappend="${#fields.hasErrors('neuterYn')} ? 'is-invalid'">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('neuterYn')}" th:errors="*{neuterYn}">
                  Please fill in this field </div>
              </td>
            </tr>
            <tr>
              <th for="age">Age</th>
              <td><textarea type="text" id="age" th:field="*{age}"
                  th:classappend="${#fields.hasErrors('age')} ? 'is-invalid'"></textarea>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">
                  Please fill in this field </div>
              </td>
              <th for="weight">Weight</th>
              <td><textarea type="text" id="weight" th:field="*{weight}"
                  th:classappend="${#fields.hasErrors('weight')} ? 'is-invalid'"></textarea>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('weight')}" th:errors="*{weight}">
                  Please fill in this field </div>
              </td>
            </tr>
            <tr>
              <th for="noticeSdt">Notice Day</th>
              <td><textarea type="text" id="noticeDay" th:field="*{noticeSdt}"
                  th:classappend="${#fields.hasErrors('noticeSdt')} ? 'is-invalid'"></textarea>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('noticeSdt')}" th:errors="*{neuterYn}">
                  Please fill in this field </div>
              </td>

              <th for="noticeEdt">End State Day</th>
              <td><textarea type="text" id="endStateDay" th:field="*{noticeEdt}"></textarea></td>
            </tr>
            <tr>
              <th for="specialMark">Special Mark</th>
              <td><textarea type="text" id="specialMark" th:field="*{specialMark}"
                  th:classappend="${#fields.hasErrors('specialMark')} ? 'is-invalid'"></textarea>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('specialMark')}" th:errors="*{specialMark}">
                  Please fill in this field </div>
              </td>
            </tr>
            <tr>
              <th for="otherNote">Other Notice</th>
              <td><textarea type="text" id="otherNote" th:field="*{otherNote}"></textarea></td>
            </tr>
            <tr>
              <th for="orgNm">Competent Organ </th>
              <td><textarea type="text" id="competentOrgan" th:field="*{orgNm}"
                  th:classappend="${#fields.hasErrors('orgNm')} ? 'is-invalid'"></textarea>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('orgNm')}" th:errors="*{orgNm}">
                  Please fill in this field </div>
              </td>
            </tr>
            <tr>
              <th for="status">Status</th>
              <td><textarea type="text" id="status" th:field="*{status}"
                  th:classappend="${#fields.hasErrors('status')} ? 'is-invalid'"></textarea>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('status')}" th:errors="*{status}">
                  Please fill in this field </div>
              </td>

            </tr>
            <tr>
              <th for="careNm">Care Center</th>
              <td><textarea type="text" id="careCenter" th:field="*{careNm}"
                  th:classappend="${#fields.hasErrors('careNm')} ? 'is-invalid'"></textarea>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('careNm')}" th:errors="*{careNm}">
                  Please fill in this field </div>
              </td>
              <th for="officeTel">Care Tel</th>
              <td><textarea type="text" id="officeTel" th:field="*{officeTel}"
                  th:classappend="${#fields.hasErrors('officeTel')} ? 'is-invalid'"></textarea>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('officeTel')}" th:errors="*{officeTel}">
                  Please fill in this field </div>
              </td>
            </tr>

            <tr>
              <th for="careAddr">Care Address</th>
              <td><textarea type="text" id="careAddr" th:field="*{careAddr}"
                  th:classappend="${#fields.hasErrors('careAddr')} ? 'is-invalid'"></textarea>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('careAddr')}" th:errors="*{careAddr}">
                  Please fill in this field </div>
              </td>
              <th for="chargeNm">Care Room</th>
              <td><textarea type="text" id="careRoom" th:field="*{chargeNm}"></textarea></td>
            </tr>
            <div class="mt-5 text-right">
              <button class="btn btn-primary profile-button" type="submit">Save</button>
            </div>
            <div class="mt-5 text-right">
              <a class="btn btn-primary profile-button"
                th:href="@{viewDetail(desertionNo = ${board.desertionNo})}">Cancel</a>
            </div>
          </form>
        </div>
      </table>


      <div class="mt-5 text-center">
        <a class="btn btn-primary profile-button" type="button"
          th:href="@{/viewDetail(desertionNo = ${board.desertionNo -1})}">Next Animal</a>
      </div>
    </div>
  </div>
  </div>
  </div>
  </div>




  <!-- Footer Start -->
  <div class="container-xxl py-5" th:replace="fragments/common :: footer">
  </div>
  <!-- Footer End -->


  <!-- Back to Top -->
  <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


  <!-- JavaScript Libraries -->
  <div class="javascript" th:replace="fragments/common :: javascript"></div>

</body>

</html>